## Tuple
 - python default sequential data structure
 -indexed , ordered , heterogenous
 -immutable
 -represented by '()'
 - faster than list
 -tuple() convert any sequence to tuple
## Set
 - unordered , unindexed, mutable
 - unique elements only
 - can store only immutable elements
 - represented by '{}'
 - set() convert any sequence to set.

In [1]:
#Tuple

x = (1,'A',2)
print(x)
print(type(x))

(1, 'A', 2)
<class 'tuple'>

In [2]:
#single element tuple
b = (13,)  #add comma
print(b)
print(type(b))

(13,)
<class 'tuple'>

In [5]:
# tuple unpacking
x1 , x2 , x3 = x
print(x1,x2,x3)

1 A 2

In [6]:
c = (1,2,3,4,5,67,8,9,10)
a1,a2,*a3 = c
print(a1,a2,a3) #unpacking

1 2 [3, 4, 5, 67, 8, 9, 10]

In [7]:
#slicing
print(c[1:4])

(2, 3, 4)

In [8]:
for i in c :
    print(i)

1
2
3
4
5
67
8
9
10

Tuple Method
1. Count
2. index

In [14]:
x = (1,2,1,3,4,5,12,23,12,6,7,8,9,12,90)
print(x.count(12))
print(x.count(1))
print(x.index(12,7))
print(x.index(3))

3
2
8
3

In [15]:
#SET

s = {1,2,3,1,3,4,5,2,1,4,5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [17]:
s1 = set() 
print(s1) #empty set

set()

In [20]:
s1.add(3)
s1.add(4)
s1.add('Hello')
s1.add(3)
s1.add('Bye')
s1.add(12)
print(s1)

{3, 4, 'Hello', 12, 'Bye'}

In [21]:
s1.discard(3) #remove from set s1
print(s1)

{4, 'Hello', 12, 'Bye'}

In [22]:
for i in s1:
    print(i)

4
Hello
12
Bye

In [29]:
#Set Operations

g1 = {'Apple','mango','banana','pineapple','watermelon','kiwi'}
g2 = {'Apple','cherry','blueberry','orange','kiwi'}

In [30]:
print(g1 & g2)
print(g1.intersection(g2)) #intersection

{'kiwi', 'Apple'}
{'kiwi', 'Apple'}

In [31]:
print(g1-g2)
print(g2-g1) #difference

{'watermelon', 'mango', 'pineapple', 'banana'}
{'orange', 'blueberry', 'cherry'}

In [32]:
print(g1|g2) #union

{'cherry', 'watermelon', 'orange', 'Apple', 'blueberry', 'pineapple', 'banana', 'kiwi', 'mango'}

In [33]:
#symmetric difference

print(g1^g2)
print(g1.symmetric_difference(g2))

{'watermelon', 'orange', 'blueberry', 'cherry', 'pineapple', 'banana', 'mango'}
{'watermelon', 'orange', 'blueberry', 'cherry', 'pineapple', 'banana', 'mango'}

#Task 

-create a list called reports that will hold report of 7 students
-each student will have a name and marks in 3 subjects
-use for loop to display the report of each student

In [36]:
reports = [['A',50,60,89],['B',90,78,98],['C',65,78,98],['D',76,45,78],['E',55,65,78]]
for i in reports :
    print(i)

['A', 50, 60, 89]
['B', 90, 78, 98]
['C', 65, 78, 98]
['D', 76, 45, 78]
['E', 55, 65, 78]

In [39]:
report = [
    ['Rohan',[
        ['Maths',90],
        ['English',80],
        ['Hindi',76],
    ]]
]

In [40]:
for students in report :
    print(students)

['Rohan', [['Maths', 90], ['English', 80], ['Hindi', 76]]]

In [41]:
for student in report :
    for details in student:
        print(details)

Rohan
[['Maths', 90], ['English', 80], ['Hindi', 76]]

In [45]:
for stud in report:
    for detaills in stud :
        if isinstance(detaills,str):
            print(detaills)
        if isinstance(detaills,list):
            for subject in detaills :
                print(subject[0],subject[1])

Rohan
Maths 90
English 80
Hindi 76